@import "@src/global";

.body {
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 10px;
}

.page {
  font-size: 1.55rem;
  font-weight: 400;
}

.button {
  @include btn;
  font-size: 1.75rem;
  transition: 0.2s;
  &:hover {
    color: $accent;
  }
  &:disabled {
    color: gray;
    cursor: not-allowed;
  }
}

.list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
